*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.bg-blue{
    background-color: #006cfa;
}

.space{
    height: 20px;
}
.box{
    height: 60px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px;
}

.nested-box{
    border: 1px solid #006cfa;
    background-color: #00e165;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.offset{
    color: black;
    align-items: flex-end;
    justify-content: flex-start;
    font-weight: bolder;
}